*{
    padding: 0;
    margin: 30;
    box-sizing: border-box;
}
#heading1{
    color: green;
    /* Sử dụng tên trong của màu sắc */

    color: #00ff4c;
    /* Sử dụng mã màu hexan  */

    color: rgb(0, 255, 255);
    /* Sử dụng phối màu rgb() red green blue */

    color: rgba(0, 255, 255, 1);
    /* Tương tự rgb() và thêm 1 thông số là độ mờ */

}

textarea{
    display: block;
}
#heading1{
    border: 10px solid sienna;
    padding: 0px;
   
    margin: 5px ;
    margin-bottom: -3px;
   display:auto; 
}
/* .container{
    width: 1140px;
    margin: 0 auto;
} */
.container{
    background-color: papayawhip;
    padding-top: 100px;
    width: 1140px;
    margin: 0 auto;
    position: relative;
 }
.content{
    background-color:rgb(179, 179, 92);
    width: 75%;
    float: left;
}
form{
    width: 25%;
    float: left;
}input, textarea{
    display: block;
}
textarea{
    width: 200px;
    margin-left: 20px;
}

input{
    margin: 20px;
    width: 200px;
    padding: 10px 20px;
}

.info{
    background-color: chocolate;
    margin-top: 20px;
    padding-bottom: 30px;
}
.clearfix::after{
content: "";
display:  table;
clear:both;
}
/* .date{
    color: antiquewhite;
    position: relative;
    left: 300px;
    bottom: -50px;
} */
/* .date{
    color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
} */
.date{
    color: blue;
    position: absolute;
    top: 0px;
    left: 0px;    
 }
 .avatar_image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
}
h4{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.avatar{
    width: 0%;
    padding-left: 3px;
}