/* Reset */
* {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  body {
    color: #191919;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  
  /* Layout */
  .comment {
    margin: 30px auto;
    width: 978px;
  }
  .comment h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 14px;
  }
  .comment .comment-list li {
    background-color: #fbfbfb;
    margin-bottom: 10px;
    padding: 15px 15px 18px;
  }
  .comment .comment-list li:nth-child(2n) {
    background-color: #f7f7f7;
  }
  .comment .head-commnent {
    position: relative;
  }
  .comment .head-commnent .avatar {
    border: 1px solid #d7d7d7;
    font-size: 30px;
    height: 38px;
    padding-top: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 38px;
  }
  .comment .head-commnent .name {
    font-weight: 600;
    margin-bottom: 8px;
  }
  .comment .head-commnent .name em {
    color: #a2b70d;
    font-style: normal;
  }
  .comment .head-commnent .time {
    font-size: 13px;
    margin-bottom: 10px;
  }